# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\go-work\haze-go\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
